<div class="header">
    <header>
    <nav class="navegacion">
      <ul class="menu">
        <li style="font-weight: bold;"><a href="#">HOME</a></li>
        <li><a href="#">QUIENES SOMOS </a></li>
        <li><a href="#">SERVICIOS </a>
          <ul class="submenu">
            <li><a href="cambioAceitefiltro.html">Cambio de Aceite y filtros</a></li>
            <li><a href="CambioPastillasFrenos.html">Cambio de pastillas de frenos </a></li>
            <li><a href="CambioAmortiguadores.html">Cambio de amortiguadores </a></li>
            <li><a href="mecanicageneral.html">Mecanica general </a></li>
            <li><a href="cambioEmbrague.html">Cambio de embrague</a></li>
          </ul>
        </li>       
        <li><a href="#" (click)="navegarACotizacion($event)">COTIZAR AHORA</a></li>

      </ul>
    </nav>
  </header>
</div>

<div class="imagen img">
<img  src="https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2020/11/mantenimiento-preventivo-2145671.jpg?tf=3840x" alt="">
</div>   


 