<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <!-- Section: Social media -->
    <section class="social-media">
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a>
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-instagram"></i>
      </a>  
    </section>

    <!-- Section: Form -->
     <div class="div-footer">
     <div class="div-info">
    <section class="newsletter">
      <h4>Contáctanos</h4>
      <p>Por favor, llene el siguiente formulario con sus datos de contacto. Nos comunicaremos con usted a la brevedad posible.
      </p>
      <form action="">
        <div class="form-group">          
          <input type="email" id="newsletter-email" placeholder="Nombre" />          
          <input type="number" placeholder="Ceular"/>
          <button type="submit">enviar</button>
        </div>
      </form>
    </section>
  </div>

  <div class="contact-info">
    <h3>Información de contacto</h3>
    <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <p>Dirección: Carrera 21b # 20-45 Yopal-Casanare</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-phone-alt"></i>
      <p>Teléfono: 3158593670-3232794328</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <p>Email: andrespinto522hotmail.com</p>
    </div>
  </div>
  

  

