<h1 class="h1">Nuestros Productos</h1>


<section class="container">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><a>Aceite SHELL HELIX HX 5, SAE 20W50, Mineral</a></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-lg-image src="https://www.elpibe.com.pe/image/cache/catalog/shell%202050-550x550h.png" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText}}
    </mat-card-content>
  </mat-card>
  
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><a>Shell HelixHX5 15W40</a> </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-lg-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAp-CsGoGnNU2NB3S8H1M0oKO4H-c3gsyBrw&s" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText2}}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><a>SHELL HELIX HX7 10W40</a></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-lg-image src="https://www.shell.cl/motorists/lubricants-for-cars/helix-hx7-10w40/_jcr_content/par/productDetails/image.img.960.jpeg/1464353089829/shell-helix-hx7-10w-40-packshot.jpeg?imwidth=960">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText3}}
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><a>SHELL HELIX HX7 10W40</a></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
        <img mat-card-lg-image src="https://www.shell.cl/motorists/lubricants-for-cars/helix-hx7-10w40/_jcr_content/par/productDetails/image.img.960.jpeg/1464353089829/shell-helix-hx7-10w-40-packshot.jpeg?imwidth=960">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{longText3}}
    </mat-card-content>
  </mat-card>
  </section>
  
<section class="container">
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a>Aceite SHELL HELIX HX 5, SAE 20W50, Mineral</a></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-lg-image src="https://www.elpibe.com.pe/image/cache/catalog/shell%202050-550x550h.png" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText}}
      </mat-card-content>
    </mat-card>
    
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a>Shell HelixHX5 15W40</a> </mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-lg-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAp-CsGoGnNU2NB3S8H1M0oKO4H-c3gsyBrw&s" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText2}}
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a>SHELL HELIX HX7 10W40</a></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-lg-image src="https://www.shell.cl/motorists/lubricants-for-cars/helix-hx7-10w40/_jcr_content/par/productDetails/image.img.960.jpeg/1464353089829/shell-helix-hx7-10w-40-packshot.jpeg?imwidth=960">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText3}}
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a>SHELL HELIX HX7 10W40</a></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
          <img mat-card-lg-image src="https://www.shell.cl/motorists/lubricants-for-cars/helix-hx7-10w40/_jcr_content/par/productDetails/image.img.960.jpeg/1464353089829/shell-helix-hx7-10w-40-packshot.jpeg?imwidth=960">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{longText3}}
      </mat-card-content>
    </mat-card>
    </section>

    