.example-card {
    max-width: 300px;
    margin-bottom: 8px;  
    border: 10px #fff;
  }
 
 .container{
  display: flex;
  padding: 5px;
  justify-content: space-evenly;
  /*align-items: center; /* Centra verticalmente */
 }

 .h1{
  font-family: sans-serif;
  font-weight: bold;
  text-align:  center;
  padding: 10px;
 }

 mat-card-title a:hover{
  color: hwb(0 30% 0%);
  transition: all 0.5;
 }

